@import url(https://fonts.googleapis.com/css?family=Lato:900italic,300,900,300italic);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,700,300italic,400italic,700italic);

p,label, address
{
	font-family: 'Titillium Web', sans-serif;
	font-size: 18px;
	font-weight: 300;
}

/* RODAPE */
footer 
{ 
	margin-top: 30px; 
	background-color: rgba(0,0,0,0.9);
	color: #CCC;  
	text-align: center;
}
/* --------------------------------------------------------------------------------------------- */

.display-none{ display: none; }

.subtitulo{	font-size: 36px; margin-bottom: 25px;}

/* USAR ESTA COR NO MEU BLOG DEBAIXO DO MEU NOME */ 
ul.nav li a:hover{	color: #16AAFF; }

.menu li
{
	font-family: 'Lato', sans-serif;
	font-style: italic;
	height: 60px;
	line-height: 60px;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

#slogan
{
	font-family: 'Lato', sans-serif;
	font-weight: 900;
}

#titulo
{
	text-align: center;
	margin-bottom: 30px;
}

#elemento-coroa
{
	position: relative;
	overflow: hidden;
}

#elemento-coroa:before
{
	content: "";
	position: absolute;
	width: 50px;
	height: 50px;
	top: -22px;
	left: -45px;
	z-index: -1;
	background: url('/img/coroa_dourada.png') 0 0 repeat;

	-webkit-transform: rotate(310deg);
	-moz-transform: rotate(310deg);
	-ms-transform: rotate(310deg);
	-o-transform: rotate(310deg);
	transform: rotate(310deg);
}

#negocios
{
	background-image: url("../img/globalbusiness.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 800px;
}

.bgParallax 
{
	margin: 0 auto;
	width: 100%;
	position: relative;
	min-height: 100%;
	background-attachment: fixed;
}